<% 
  def section_open?(section)
    (!section[:path].nil? && current_page?(section[:path])) ||
    (!section[:open].nil? && section[:open]) ||
    section[:links].any? { |page| current_page?(page[:path]) || (page[:links] && section_open?(page)) }
  end

  nav.each { |nav| nav[:open] = section_open?(nav) unless nav[:title].nil? }

  nav.each do |nav| 
%>
  <% if nav[:text] %>
    <%= nav_link nav[:text], nav[:path], class: "#{nav[:type]}-link" %>
  <% elsif nav[:accordion] == false %>
    <dl>
      <dt>
        <%= nav_link nav[:title], nav[:path], class: "index-link" %>
      </dt>
      <dd>
        <ul>
          <% nav[:links].each do |page| %>
            <li><%= nav_link page[:text], page[:path], class: "subpage-link" %></li>
          <% end %>
        </ul>
      </dd>
    </dl>
  <% else %>
    <dl class="accordion<%= nav[:open] ? " open" : "" %>">
      <dt class="accordion-header">
        <% if nav[:title] && nav[:path] %>
          <%= nav_link nav[:title], nav[:path], class: "title-link" %>
        <% else %>
          <span class="accordion-title"><%= nav[:title] %></span>
        <% end %>
        <button class="accordion-trigger" aria-expanded="<%= nav[:open] %>">
          <span class="sr-only">Toggle <%= nav[:title] %> section</span>
        </button>
      </dt>
      <dd class="accordion-target">
        <ul class="accordion-content" role="region" aria-label="<%= nav[:title] %>">
          <% nav[:links].each do |page| %>
            <% if page[:links] %>
              <li>
                <dl class="accordion<%= section_open?(page) ? " open" : "" %>">
                  <dt class="accordion-header">
                    <% if page[:title] && page[:path] %>
                      <%= nav_link page[:title], page[:path], class: "title-link" %>
                    <% else %>
                      <span class="accordion-title"><%= page[:title] %></span>
                    <% end %>
                    <button class="accordion-trigger" aria-expanded="<%= section_open?(page) %>">
                      <span class="sr-only">Toggle <%= page[:title] %> section</span>
                    </button>
                  </dt>
                  <dd class="accordion-target">
                    <ul class="accordion-content" role="region" aria-label="<%= page[:title] %>">
                      <% page[:links].each do |subpage| %>
                        <li>
                          <% if subpage[:type] == "flyctl" %>
                            <%= flyctl_nav_link subpage[:text], subpage[:path] %>
                          <% else %>
                            <%= nav_link subpage[:text], subpage[:path] %>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </dd>
                </dl>
              </li>
            <% else %>
              <li>
                <% if page[:type] == "flyctl" %>
                  <%= flyctl_nav_link page[:text], page[:path] %>
                <% else %>
                  <%= nav_link page[:text], page[:path] %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </dd>
    </dl>
  <% end %>
<% end %>