<ul class="outline-list">
  <li>
    <%= nav_link "Back to Docs", "/docs/" %>
  </li>
</ul>

<ul class="outline-list">
  <li>
    <%= nav_link "Fly Apps", "/docs/apps/" %>
    <ul>
      <li>
        <%= nav_link "Launch a New App", "/docs/apps/launch/" %>
      </li>
      <li>
        <%= nav_link "Deploy Changes to an App", "/docs/apps/deploy/" %>
      </li>
      <li>
        <%= nav_link "Get Information about an App", "/docs/apps/info/" %>
      </li>  
      <li>
        <%= nav_link "Add Volume Storage", "/docs/apps/volume-storage/" %>
      </li>
      <li>
        <%= nav_link "Scale VM Resources", "/docs/apps/scale-machine/" %>
      </li>
      <li>
        <%= nav_link "Scale VM Count", "/docs/apps/scale-count/" %>
      </li>
      <li>
        <%= nav_link "Restart an App", "/docs/apps/restart/" %>
      </li>
      <li>
        <%= nav_link "Run Multiple Processes in an App", "/docs/apps/processes/" %>
      </li>
      <li>
        <%= nav_link "Delete an App", "/docs/apps/delete/" %>
      </li>
      <li>
        <%= nav_link "Migrate a Machines App to Apps V2", "/docs/apps/migrate-to-v2/" %>
      </li>      
      <li>
        <%= nav_link "App Configuration Reference", "/docs/reference/configuration/" %>
      </li>
    </ul>
  </li>
</ul>