<ul class="outline-list">
  <li>
    <%= nav_link "Engineering Jobs at Fly.io", "/docs/hiring/" %>
    <ul>
      <li>
        <%= nav_link "Our Stack", "/docs/hiring/stack" %>
      </li>
      <li>
        <%= nav_link "Our Roles", "/docs/hiring/roles" %>
      </li>
      <li>
        <%= nav_link "Our Hiring Process", "/docs/hiring/hiring" %>
      </li>
      <li>
        <%= nav_link "Working at Fly.io", "/docs/hiring/working" %>
      </li>
    </ul>
  </li>
</ul>
