<ul class="outline-list">
  <li>
    <%= nav_link "Getting Started", "/docs/getting-started" %>
    <ul>
      <li>
        <%= nav_link "Speedrun: Deploying an App", "/docs/speedrun/" %>
      </li>
      <li>
        <%= nav_link "Hands-on with Fly.io", "/docs/hands-on/" %>
      </li>
      <li>
        <%= nav_link "Working with Fly Apps", "/docs/getting-started/working-with-fly-apps/" %>
      </li>
      <li>
        <%= nav_link "Troubleshooting Deployments", "/docs/getting-started/troubleshooting/" %>
      </li>
      <li>
        <%= nav_link "Web Launchers", "/launch/" %>
      </li>
    </ul>
  </li>
</ul>
<ul class="outline-list">
  <li>
    <%= nav_link "Language & Framework Guides", "/docs/languages-and-frameworks/" %>
    <ul>
      <li>
        <%= nav_link "Run an Elixir App", "/docs/elixir/getting-started" %>
      </li>
      <li>
        <%= nav_link "Run a Rails App", "/docs/rails/getting-started/" %>
      </li>
      <li>
        <%= nav_link "Run a Laravel App", "/docs/laravel/" %>
      </li>
      <li>
        <%= nav_link "Run a Django App", "/docs/django/getting-started/" %>
      </li>
      <li>
        <%= nav_link "More...", "/docs/languages-and-frameworks/" %>
      </li>
    </ul>
  </li>
</ul>
<ul class="outline-list">
  <li>
    <%= nav_link "Fly Apps", "/docs/apps/" %>
    <ul>
      <li>
        <%= nav_link "Launch a New App", "/docs/apps/launch/" %>
      </li>
      <li>
        <%= nav_link "Deploy a Fly App", "/docs/apps/deploy/" %>
      </li>
      <li>
        <%= nav_link "Get Information about an App", "/docs/apps/info/" %>
      </li>  
      <li>
        <%= nav_link "Add Volume Storage", "/docs/apps/volume-storage/" %>
      </li>
      <li>
        <%= nav_link "Scale Machine CPU and RAM", "/docs/apps/scale-machine/" %>
      </li>
      <li>
        <%= nav_link "Add or Remove Machines", "/docs/apps/scale-count/" %>
      </li>
      <li>
        <%= nav_link "Restart an App", "/docs/apps/restart/" %>
      </li>
      <li>
        <%= nav_link "Run Multiple Processes in an App", "/docs/apps/processes/" %>
      </li>
      <li>
        <%= nav_link "Delete an App", "/docs/apps/delete/" %>
      </li>
      <li>
        <%= nav_link "Scale V1 (Nomad) Apps", "/docs/apps/legacy-scaling/" %>
      </li>
            <li>
        <%= nav_link "Migrate a Machines App to Apps V2", "/docs/apps/migrate-to-v2/" %>
      </li>      
      <li>
        <%= nav_link "App Configuration Reference", "/docs/reference/configuration/" %>
      </li>
    </ul>
  </li>
</ul>
<ul class="outline-list">
  <li>
    <%= nav_link "Databases & Storage", "/docs/database-storage-guides/" %>
    <ul>
      <li>
        <%= nav_link "Volumes", "/docs/reference/volumes" %>
      </li>
      <li>
        <%= nav_link "Fly Postgres", "/docs/postgres/" %>
      </li>
      <li>
        <%= nav_link "SQLite & LiteFS", "/docs/litefs/" %>
      </li>
      <li>
        <%= nav_link "Redis by Upstash", "/docs/reference/redis/" %>
      </li>
      <li>
        <%= nav_link "More...", "/docs/database-storage-guides/" %>
      </li>
    </ul>
  </li>
</ul>

<ul class="outline-list">
  <li>
    <%= nav_link "Fly Machines", "/docs/machines/" %>
    <ul>
      <li>
        <%= nav_link "Working with the Machines API", "/docs/machines/working-with-machines/" %>
      </li>
      <li>
        <%= nav_link "Run a Machines App Using flyctl", "/docs/machines/guides-examples/machines-app-using-flyctl/" %>
      </li>
      <li>
        <%= nav_link "Machine Sizing", "/docs/machines/guides-examples/machine-sizing/" %>
      </li>
      <li>
        <%= nav_link "Run User Code on Fly Machines", "/docs/machines/guides-examples/functions-with-machines/" %>
      </li>
      <li>
        <%= nav_link "Use Terraform with Fly Machines", "/docs/machines/guides-examples/terraform-machines/" %>
      </li>
    </ul>
  </li>
</ul>

<ul class="outline-list">
  <li>
    <%= nav_link "Other Guides", "/docs/guides/" %>
    <ul>
      <li>
        <%= nav_link "Going to Production", "/docs/going-to-production/" %>
      </li>
      <li>
        <%= nav_link "Custom Domains for SaaS", "/docs/app-guides/custom-domains-with-fly/" %>
      </li>
      <li>
        <%= nav_link "Deploy with GitHub Actions", "/docs/app-guides/continuous-deployment-with-github-actions/" %>
      </li>
      <li>
        <%= nav_link "Run Multiple Processes", "/docs/app-guides/multiple-processes/" %>
      </li>
      <li>
        <%= nav_link "Run UDP Services", "/docs/app-guides/udp-and-tcp/" %>
      </li>
    </ul>
  </li>
</ul>
<ul class="outline-list">
  <li>
    <%= nav_link "Fly.io Reference", "/docs/reference/" %>
    <ul>
      <li>
        <%= nav_link "flyctl", "/docs/flyctl/" %>
      </li>
      <li>
        <%= nav_link "App Configuration (fly.toml)", "/docs/reference/configuration/" %>
      </li>
      <li>
        <%= nav_link "Apps", "/docs/reference/apps/" %>
      </li>
      <li>
        <%= nav_link "Architecture", "/docs/reference/architecture/" %>
      </li>
      <li>
        <%= nav_link "Builders", "/docs/reference/builders/" %>
      </li>
      <li>
        <%= nav_link "Deploy Tokens", "/docs/reference/deploy-tokens/" %>
      </li>
      <li>
        <%= nav_link "Dynamic Request Routing", "/docs/reference/dynamic-request-routing/" %>
      </li>
      <li>
        <%= nav_link "Fly Launch", "/docs/reference/fly-launch/" %>
      </li>
      <li>
        <%= nav_link "Load Balancing", "/docs/reference/load-balancing/" %>
      </li>
      <li>
        <%= nav_link "Machines", "/docs/reference/machines/" %>
      </li>
      <li>
        <%= nav_link "Metrics", "/docs/reference/metrics/" %>
      </li>
      <li>
        <%= nav_link "Monorepo Apps", "/docs/reference/monorepo/" %>
      </li>
      <li>
        <%= nav_link "Private Networking", "/docs/reference/private-networking/" %>
      </li>
      <li>
        <%= nav_link "Public Networking", "/docs/reference/services/" %>
      </li>
      <li>
        <%= nav_link "Regions", "/docs/reference/regions/" %>
      </li>
      <li>
        <%= nav_link "Runtime Environment", "/docs/reference/runtime-environment/" %>
      </li>
      <li>
        <%= nav_link "Build Secrets", "/docs/reference/build-secrets/" %>
      </li>
      <li>
        <%= nav_link "Runtime Secrets", "/docs/reference/secrets/" %>
      </li>
      <li>
        <%= nav_link "TLS Support", "/docs/reference/tls/" %>
      </li>
      <li>
        <%= nav_link "Volumes", "/docs/reference/volumes" %>
      </li>
    </ul>
  </li>
</ul>

<ul class="outline-list">
  <li>
    <%= nav_link "About", "/docs/about/" %>
    <ul>
      <li>
        <%= nav_link "Pricing", "/docs/about/pricing/" %>
      </li>
      <li>
        <%= nav_link "How We Use Credit Cards", "/docs/about/credit-cards/" %>
      </li>
      <li>
        <%= nav_link "Engineering Jobs", "/docs/hiring/" %>
      </li>
      <li>
        <%= nav_link "Healthcare on Fly.io", "/docs/about/healthcare/" %>
      </li>
      <li>
        <%= nav_link "Support", "/docs/about/support/" %>
      </li>
      <li>
        <%= nav_link "Security", "/docs/about/security/" %>
      </li>
      <li>
        <%= nav_link "Open Source", "/docs/about/open-source/" %>
      </li>
      <li>
        <%= nav_link "Using Our Brand", "/docs/about/brand/" %>
      </li>
      <li>
        <%= nav_link "Privacy Policy", "/legal/privacy-policy/" %>
      </li>
      <li>
        <%= nav_link "Terms of Service", "/legal/terms-of-service/" %>
      </li>
    </ul>
  </li>
</ul>
