<ul class="outline-list">
  <li>
    <%= nav_link "Getting Started", "/docs/getting-started" %>
    <ul>
      <li>
        <%= nav_link "Speedrun: Deploying an App", "/docs/speedrun/" %>
      </li>
      <li>
        <%= nav_link "Hands-on with Fly", "/docs/hands-on/" %>
      </li>
      <li>
        <%= nav_link "Web Launchers", "/launch/" %>
      </li>
      <li>
        <%= nav_link "Install Flyctl", "/docs/getting-started/installing-flyctl/" %>
      </li>
      <li>
        <%= nav_link "Log in to Fly", "/docs/getting-started/log-in-to-fly/" %>
      </li>
      <li>
        <%= nav_link "Working with Fly Apps", "/docs/getting-started/working-with-fly-apps/" %>
      </li>
      <li>
        <%= nav_link "Launching a New App", "/docs/getting-started/launch-app/" %>
      </li>
      <li>
        <%= nav_link "Troubleshooting Deployments", "/docs/getting-started/troubleshooting/" %>
      </li>
    </ul>
  </li>
</ul>
<ul class="outline-list">
  <li>
    <%= nav_link "Language &amp; Framework Guides", "/docs/languages-and-frameworks/" %>
    <ul>
      <li>
        <%= nav_link "Run an Elixir App", "/docs/elixir/getting-started" %>
      </li>
      <li>
        <%= nav_link "Run a Rails App", "/docs/rails/getting-started/" %>
      </li>
      <li>
        <%= nav_link "Run a Laravel App", "/docs/laravel/" %>
      </li>
      <li>
        <%= nav_link "Run a Django App", "/docs/django/getting-started/" %>
      </li>
      <li>
        <%= nav_link "More...", "/docs/languages-and-frameworks/" %>
      </li>
    </ul>
  </li>
</ul>
<ul class="outline-list">
  <li>
    <%= nav_link "Database &amp; Storage Guides", "/docs/database-storage-guides/" %>
    <ul>
      <li>
        <%= nav_link "Fly Postgres", "/docs/postgres/" %>
      </li>
      <li>
        <%= nav_link "MySQL", "/docs/app-guides/mysql-on-fly/" %>
      </li>
      <li>
        <%= nav_link "SQlite & LiteFS", "/docs/litefs/" %>
      </li>
      <li>
        <%= nav_link "Disk Volumes", "/docs/reference/volumes" %>
      </li>
      <li>
        <%= nav_link "Redis by Upstash", "/docs/reference/redis/" %>
      </li>
      <li>
        <%= nav_link "EdgeDB", "/docs/getting-started/edgedb/" %>
      </li>
      <li>
        <%= nav_link "PlanetScale Database", "/docs/app-guides/planetscale/" %>
      </li>
      <li>
        <%= nav_link "MinIO Object Storage", "/docs/app-guides/minio" %>
      </li>
    </ul>
  </li>
</ul>

<ul class="outline-list">
  <li>
    <%= nav_link "Fly Machines", "/docs/machines/" %>
    <ul>
      <li>
        <%= nav_link "Working with the Machines API", "/docs/machines/working-with-machines/" %>
      </li>
      <li>
        <%= nav_link "Run a Machines App Using flyctl", "/docs/machines/guides-examples/machines-app-using-flyctl/" %>
      </li>
      <li>
        <%= nav_link "Machine Sizing", "/docs/machines/guides-examples/machine-sizing/" %>
      </li>
      <li>
        <%= nav_link "Run User Code on Fly Machines", "/docs/machines/guides-examples/functions-with-machines/" %>
      </li>
      <li>
        <%= nav_link "Use Terraform with Fly Machines", "/docs/machines/guides-examples/terraform-machines/" %>
      </li>
    </ul>
  </li>
</ul>

<ul class="outline-list">
  <li>
    <%= nav_link "Other Guides", "/docs/guides/" %>
    <ul>
      <li>
        <%= nav_link "Custom Domains for SaaS", "/docs/app-guides/custom-domains-with-fly/" %>
      </li>
      <li>
        <%= nav_link "Deploy with GitHub Actions", "/docs/app-guides/continuous-deployment-with-github-actions/" %>
      </li>
      <li>
        <%= nav_link "Run Multiple Processes", "/docs/app-guides/multiple-processes/" %>
      </li>
      <li>
        <%= nav_link "Run UDP Services", "/docs/app-guides/udp-and-tcp/" %>
      </li>
      <li>
        <%= nav_link "Elixir Guides", "/docs/guides/#elixir" %>
      </li>
    </ul>
  </li>
</ul>
<ul class="outline-list">
  <li>
    <%= nav_link "Fly Reference", "/docs/reference/" %>
    <ul>
      <li>
        <%= nav_link "flyctl", "/docs/flyctl/" %>
      </li>
      <li>
        <%= nav_link "App Configuration (fly.toml)", "/docs/reference/configuration/" %>
      </li>
      <li>
        <%= nav_link "Apps", "/docs/reference/apps/" %>
      </li>
      <li>
        <%= nav_link "Architecture", "/docs/reference/architecture/" %>
      </li>
      <li>
        <%= nav_link "Builders", "/docs/reference/builders/" %>
      </li>
      <li>
        <%= nav_link "The Fly-Replay Header", "/docs/reference/fly-replay/" %>
      </li>
      <li>
        <%= nav_link "Load Balancing", "/docs/reference/load-balancing/" %>
      </li>
      <li>
        <%= nav_link "Machines", "/docs/reference/machines/" %>
      </li>
      <li>
        <%= nav_link "Metrics", "/docs/reference/metrics/" %>
      </li>
      <li>
        <%= nav_link "Monorepo Apps", "/docs/reference/monorepo/" %>
      </li>
      <li>
        <%= nav_link "Private Networking", "/docs/reference/private-networking/" %>
      </li>
      <li>
        <%= nav_link "Public Networking", "/docs/reference/services/" %>
      </li>
      <li>
        <%= nav_link "Regions", "/docs/reference/regions/" %>
      </li>
      <li>
        <%= nav_link "Runtime Environment", "/docs/reference/runtime-environment/" %>
      </li>
      <li>
        <%= nav_link "Scaling", "/docs/reference/scaling/" %>
      </li>
      <li>
        <%= nav_link "Build Secrets", "/docs/reference/build-secrets/" %>
      </li>
      <li>
        <%= nav_link "Runtime Secrets", "/docs/reference/secrets/" %>
      </li>
      <li>
        <%= nav_link "TLS Support", "/docs/reference/tls/" %>
      </li>
      <li>
        <%= nav_link "Volumes", "/docs/reference/volumes" %>
      </li>
    </ul>
  </li>
</ul>

<ul class="outline-list">
  <li>
    <%= nav_link "About", "/docs/about/" %>
    <ul>
      <li>
        <%= nav_link "Pricing", "/docs/about/pricing/" %>
      </li>
      <li>
        <%= nav_link "Engineering Jobs", "/docs/hiring/" %>
      </li>
      <li>
        <%= nav_link "Healthcare on Fly", "/docs/about/healthcare/" %>
      </li>
      <li>
        <%= nav_link "Support", "/docs/about/support/" %>
      </li>
      <li>
        <%= nav_link "Security", "/docs/about/security/" %>
      </li>
      <li>
        <%= nav_link "Open Source", "/docs/about/open-source/" %>
      </li>
      <li>
        <%= nav_link "Using Our Brand", "/docs/about/brand/" %>
      </li>
      <li>
        <%= nav_link "Privacy Policy", "/legal/privacy-policy/" %>
      </li>
      <li>
        <%= nav_link "Terms of Service", "/legal/terms-of-service/" %>
      </li>
    </ul>
  </li>
</ul>
