<ul class="outline-list">
  <li>
    <%= nav_link "Fly.io Reference", "/docs/reference/" %>
    <ul>
      <li>
        <%= nav_link "Introducing Flyctl", "/docs/flyctl" %>
      </li>
      <li>
        <%= nav_link "Install Flyctl", "/docs/hands-on/install-flyctl/" %>
      </li>
      <li>
        <%= nav_link "Integrating Flyctl ", "/docs/flyctl/integrating/" %>
      </li>
    </ul>
  </li>
</ul>

<ul class="outline-list">
  <li>
    <span>
      Commands
    </span>
    <ul>
      <li>
        <%= flyctl_nav_link "Launch an App", "/docs/flyctl/launch/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Manage Apps", "/docs/flyctl/apps/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Manage Machines", "/docs/flyctl/machine/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Login and Authentication", "/docs/flyctl/auth/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Certificates for Apps", "/docs/flyctl/certs/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Manage health checks", "/docs/flyctl/checks/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Get or check App config", "/docs/flyctl/config/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Manage Consul clusters", "/docs/flyctl/consul/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Open web dashboard", "/docs/flyctl/dashboard/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Deploy an App", "/docs/flyctl/deploy/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Delete an App", "/docs/flyctl/destroy/" %>
      </li>
      <li>
        <%= flyctl_nav_link "View Fly docs", "/docs/flyctl/docs/" %>
      </li>
      <li>
        <%= flyctl_nav_link "View App history", "/docs/flyctl/history/" %>
      </li>
      <li>
        <%= flyctl_nav_link "View or update App image", "/docs/flyctl/image/" %>
      </li>      
      <li>
        <%= flyctl_nav_link "Manage IP addresses", "/docs/flyctl/ips/" %>
      </li>
      <li>
        <%= flyctl_nav_link "View App logs", "/docs/flyctl/logs/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Monitor deployments", "/docs/flyctl/monitor/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Move an App", "/docs/flyctl/move/" %>
      </li>
      <li>
        <%= flyctl_nav_link "View App with browser", "/docs/flyctl/open/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Manage Organizations", "/docs/flyctl/orgs/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Ping your App", "/docs/flyctl/ping/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Platform information", "/docs/flyctl/platform/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Manage Postgres clusters", "/docs/flyctl/postgres/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Proxy connection to App", "/docs/flyctl/proxy/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Manage Redis instances", "/docs/flyctl/redis/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Selecting Regions", "/docs/flyctl/regions/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Manage App releases", "/docs/flyctl/releases/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Scaling Apps", "/docs/flyctl/scale/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Manage App secrets", "/docs/flyctl/secrets/" %>
      </li>
      <li>
        <%= flyctl_nav_link "View services configured on an App", "/docs/flyctl/services/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Move files to or from a VM", "/docs/flyctl/sftp/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Manage SSH", "/docs/flyctl/ssh/" %>
      </li>
      <li>
        <%= flyctl_nav_link "View App status", "/docs/flyctl/status/" %>
      </li>
      <li>
        <%= flyctl_nav_link "About Flyctl versions", "/docs/flyctl/version/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Manage VM instances", "/docs/flyctl/vm/" %>
      </li>
      <li>
        <%= flyctl_nav_link "Manage Disks", "/docs/flyctl/volumes/" %>
      </li>
      <li>
        <%= flyctl_nav_link "WireGuard VPN", "/docs/flyctl/wireguard/" %>
      </li>
    </ul>
  </li>
</ul>
