<ul class="outline-list">
  <li>
    <%= nav_link "Hands-on with Fly.io", "/docs/hands-on/" %>
    <ul>
      <li>
        <%= nav_link "1. Install flyctl", "/docs/hands-on/install-flyctl/" %>
      </li>
      <li>
        <%= nav_link "2. Sign Up", "/docs/hands-on/sign-up/" %>
      </li>
      <li>
        <%= nav_link "3. Sign In", "/docs/hands-on/sign-in/" %>
      </li>
      <li>
        <%= nav_link "4. Launch App", "/docs/hands-on/launch-app/" %>
      </li>
      <li>
        <%= nav_link "5. Check App Status", "/docs/hands-on/check-app-status/" %>
      </li>
      <li>
        <%= nav_link "6. Visit App", "/docs/hands-on/open-app/" %>
      </li>
      <li>
        <%= nav_link "7. Further Reading", "/docs/hands-on/next/" %>
      </li>
    </ul>
  </li>
</ul>