<ul class="outline-list">
  <li>
    <%= nav_link "LiteFS Overview", "/docs/litefs/" %>
    <ul>
      <li>
        <%= nav_link "LiteFS Example Application", "/docs/litefs/example" %>
      </li>
      <li>
        <%= nav_link "How LiteFS Works", "/docs/litefs/how-it-works" %>
      </li>
    </ul>
  </li>
</ul>

<ul class="outline-list">
  <li>
    <%= nav_link "LiteFS Reference", "/docs/litefs/" %>
    <ul>
      <li>
        <%= nav_link "Special Files", "/docs/litefs/files" %>
      </li>
      <li>
        <%= nav_link "Config Reference", "/docs/litefs/config" %>
      </li>
    </ul>
  </li>
</ul>
  