<%= partial "/docs/partials/back_to_docs" %>

<ul class="outline-list">
  <li>
    <%= nav_link "Fly Machines", "/docs/machines/" %>
  </li>
</ul>

<ul class="outline-list">
  <li>
    <span>
      Learn about Fly Machines
    </span>
  <ul>
    <li>
      <%= nav_link "Fly Machines overview", "/docs/machines/overview/" %>
    </li>
  </ul>
</ul>

<ul class="outline-list">
  <li>
    <span>
      Machines and flyctl
    </span>
  <ul>  
   <li>
    <%= nav_link "Run a new Machine", "/docs/machines/flyctl/fly-machine-run/" %>
   </li>
   <li>
    <%= nav_link "Update a Machine", "/docs/machines/flyctl/fly-machine-update/" %>
   </li>
  </ul>
</ul>

<ul class="outline-list">
  <li>
     <%= nav_link "Machines API", "/docs/machines/api" %>
    <ul>
      <li>
        <%= nav_link "Working with the Machines API", "/docs/machines/api/working-with-machines-api/" %>
      </li>
      <li>
        <%= nav_link "Apps", "/docs/machines/api/apps-resource/" %>
      </li>
      <li>
        <%= nav_link "Machines", "/docs/machines/api/machines-resource/" %>
      </li>
      <li>
        <%= nav_link "Volumes", "/docs/machines/api/volumes-resource/" %>
      </li>
      <li>
        <%= nav_link "Machines API Spec", "https://docs.machines.dev/#description/introduction" %>
      </li>
    </ul>
  </li>
</ul>

<ul class="outline-list">
  <li>    
    <span>
      Guides and Examples
    </span>
    <ul>
      <li>
        <%= nav_link "Run User Code on Fly Machines", "/docs/machines/guides-examples/functions-with-machines/" %>
      </li>
      <li>
        <%= nav_link "Machine Sizing", "/docs/machines/guides-examples/machine-sizing/" %>
      </li>
      <li>
        <%= nav_link "Machine restart policy", "/docs/machines/guides-examples/machine-restart-policy/" %>
      </li>
    </ul>
  </li>
</ul>

<ul class="outline-list">
  <li>    
    <span>
      Reference
    </span>
    <ul>
      <li>
        <%= nav_link "Machine states", "/docs/machines/machine-states/" %>
      </li>
      <li>
        <%= nav_link "flyctl Machine commands", "/docs/flyctl/machine/" %>
      </li>
    </ul>
  </li>
</ul>

