<ul class="outline-list">
  <li>
    <%= nav_link "Fly Machines", "/docs/machines/" %>
  </li>
</ul>
    
<ul class="outline-list">
  <li>    
    <span>
      Learn
    </span>
    <ul>
      <li>
        <%= nav_link "Fly Machines overview", "/docs/machines/working-with-machines/" %>
      </li>
      <li>
        <%= nav_link "Machine size overview", "/docs/machines/guides-examples/machine-sizing/" %>
      </li>
      <li>
        <%= nav_link "Machine patterns", "" %>
      </li>
    </ul>
  </li>
</ul>

<ul class="outline-list">
  <li>    
    <span>
      How-Tos
    </span>
    <ul>
      <li>
        <%= nav_link "Create Machines", "" %>
      </li>
      <li>
        <%= nav_link "Manage Machines (i.e. status, list, start, stop, destroy)", "" %>
      </li>
      <li>
        <%= nav_link "Execute a command on a Machine", "" %>
      </li>
      <li>
        <%= nav_link "Run a console in a Machine", "" %>
      </li>
      <li>
        <%= nav_link "Update Machine config (general)", "" %>
      </li>
      <li>
        <%= nav_link "Clone a Machine", "" %>
      </li>
      <li>
        <%= nav_link "Add a volume to a Machine", "" %>
      </li>
      <li>
        <%= nav_link "Update the Machine CPU and RAM", "/docs/machines/guides-examples/machine-sizing/" %>
      </li>
      <li>
        <%= nav_link "Set the Machine restart policy", "/docs/machines/guides-examples/machine-restart-policy/" %>
      </li>
      <li>
        <%= nav_link "Restart Machines", "" %>
      </li>
      <li>
        <%= nav_link "Destroy a Machine", "" %>
      </li>
    </ul>
  </li>
</ul>

<ul class="outline-list">
  <li>    
    <span>
      Guides and tutorials
    </span>
    <ul>
      <li>
        <%= nav_link "Run Debian in Machine", "/docs/machines/" %>
      </li>
      <li>
        <%= nav_link "Getting started with Terraform and Machines", "/docs/machines/guides-examples/terraform-machines/" %>
      </li>
    </ul>
  </li>
</ul>

<ul class="outline-list">
  <li>    
    <span>
      Reference
    </span>
    <ul>
      <li>
        <%= nav_link "Connect to the Machines API", "/docs/machines/working-with-machines/" %>
      </li>
      <li>
        <%= nav_link "Machines API reference", "/docs/machines/working-with-machines/" %>
      </li>
    </ul>
  </li>
</ul>

