<%= partial "/docs/partials/back_to_docs" %>

<ul role="region" aria-label="Fly Machines">
  <li><%= nav_link "Fly Machines overview", "/docs/machines/overview/" %></li>
  <li><%= nav_link "Run a new Machine", "/docs/machines/run/" %></li>
  <li><%= nav_link "Working with the Machines API", "/docs/machines/working-with-machines/" %></li>
  <li><%= nav_link "Machines API Spec", "https://docs.machines.dev/" %></li>
</ul>

<dl class="accordion open">
  <dt class="accordion-trigger">
    Guides and Examples
  </dt>
  <dd class="accordion-target">
    <ul class="accordion-content" role="region" aria-label="Guides and Examples">
      <li><%= nav_link "Run User Code on Fly Machines", "/docs/machines/guides-examples/functions-with-machines/" %></li>
      <li><%= nav_link "Run Machines with flyctl", "/docs/machines/guides-examples/machines-app-using-flyctl/" %></li>
      <li><%= nav_link "Machine Sizing", "/docs/machines/guides-examples/machine-sizing/" %></li>
      <li><%= nav_link "Machine restart policy", "/docs/machines/guides-examples/machine-restart-policy/" %></li>
    </ul>
  </dd>
</dl>
