<ul class="outline-list">
  <li>
    <%= nav_link "Fly Volumes", "/docs/volumes/" %>
  </li>
</ul>
<ul class="outline-list">
  <li>
    <span>
      Learn
    </span>
    <ul>
      <li>
        <%= nav_link "Volumes overview", "/docs/reference/volumes/" %>
      </li>
    </ul>
  </li>
</ul>
<ul class="outline-list">
  <li>
    <span>
      How-Tos
    </span>
    <ul>
      <li>
        <%= nav_link "Add volume storage", "/docs/apps/volume-storage/" %>
      </li>
      <li>
        <%= nav_link "Manage volume storage", "/docs/apps/volume-manage/" %>
      </li>
    </ul>
  </li>
</ul>
<ul class="outline-list">
  <li>
    <span>
      Reference
    </span>
    <ul>
      <li>
        <%= nav_link "flyctl volumes commands", "/docs/flyctl/volumes/" %>
      </li>
      <li>
        <%= nav_link "Machines API - Volumes", "https://docs.machines.dev/swagger/index.html#/Volumes" %>
      </li>
    </ul>
  </li>
</ul>
