---
title: Guides and Examples
layout: docs
toc: false
nav: firecracker
---

A collection of guides and examples for working with apps and databases on Fly.io.

<br><br>
<ul>
  <li>
    <%= nav_link "Going to production", "/docs/going-to-production/" %>
  </li>
  <li>
    <%= nav_link "Custom domains for SaaS", "/docs/networking/custom-domains-with-fly/" %>
  </li>
  <li>
    <%= nav_link "Deploy with GitHub Actions", "/docs/app-guides/continuous-deployment-with-github-actions/" %>
  </li>
  <li>
    <%= nav_link "Run multiple processes", "/docs/app-guides/multiple-processes/" %>
  </li>
  <li>
    <%= nav_link "Run UDP services", "/docs/networking/udp-and-tcp/" %>
  </li>
  <li>
    <%= nav_link "Crontab with Supercronic", "/docs/app-guides/supercronic/" %>
  </li>
  <li>
    <%= nav_link "Run an ssh server ", "/docs/app-guides/opensshd/" %>
  </li>
</ul>

