---
title: API
objective: Get familiar with the Fly Machines API.
layout: framework_docs
order: 1
---

<% Machine.api.paths.each do |path| %>
  <%- path.operations.each do |operation| %>
    <div id="<%= "#{operation.request_method}" %>" class="mb-3" >
      <div class="mb-1">
        <h2><code><%= operation.request_method %> <%= path.path %></code></h2>
        <p><%= operation.description %></p>
      </div>

      <div class="mb-2">
        <h3>Parameters</h3>
          <ul>
            <% operation.parameters.each do |param| %>
              <li class="mb-1">
                <b><%= param.name%></b> <i><%= param.type %></i>- <%= param.description %>
                <% if param.schema %>
                  <ul>
                    <% Machine.api.definition(param.schema).properties.each do |prop| %>
                      <li>
                        <b><%= prop[0] %></b> - <i><%= handle_type(prop[1]) %></i>
                        <%= prop[1]["description"] %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              <li>
            <% end %>
          </ul>
      </div>

      <h3>Responses</h3>
      <% operation.responses.each do |resp| %>
        <b><%= resp.status%></b> - <%= resp.description %>
        <% if resp.schema %>
          <% if Machine.api.definition(resp.schema) %>
            <ul>
              <% Machine.api.definition(resp.schema).properties.each do |prop| %>
                <li>
                  <b><%= prop[0] %></b> - <i><%= handle_type(prop[1]) %></i>
                  <%= prop[1]["description"] %>
                </li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<h2>Definitions</h2>
<% Machine.api.definitions.instance_variable_get("@definitions").each do |k, definition| %>
  <h3><%= k %> </h3>
  <ul>
    <% definition.properties.each do |prop| %>
      <li>
        <b><%= prop[0] %></b> - <i><%= handle_type(prop[1]) %></i>
        <%= prop[1]["description"] %>
      </li>
    <% end %>
  </ul>
<% end %>
