---
title: API
objective: Get familiar with the Fly Machines API.
layout: framework_docs
order: 1
---

<% Machine.api.paths.each do |path| %>
  <h2><code><%= path.path %></code></h2>
  <%- path.operations.each do |operation| %>
    <div id="<%= "#{operation.request_method}" %>" class="mb-3">
      <div class="mb-1">
        <h3><code><%= operation.request_method %></code></h3>
        <p><%= operation.description %></p>
      </div>

      <div class="mb-2">
        <h4>Parameters</h4>
        <ul>
          <% operation.parameters.each do |param| %>
            <li class="mb-1">
              <b><%= param.name %></b> <i><%= param.type %></i>- <%= param.description %>
              <% if param.schema %>
                <ul>
                  <% Machine.api.definition(param.schema).properties.map { |prop| Machine::Property.new(*prop) }.each do |prop| %>
                    <li>
                      <b><%= prop.name %></b> -
                      <i>
                        <% if prop.cardinality == :collection %>array[<% end %>
                        <% if prop.ref %>
                          <%= link_to prop.ref.name, anchor: normalize_type_name(prop.ref.name) %>
                        <% else %>
                          <%= prop.type %>
                        <% end %>
                        <% if prop.cardinality == :collection %>]<% end %>
                      </i>
                      <% unless prop.description.nil? %>
                        <p><%= prop.description %></p>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
              <li>
          <% end %>
        </ul>
      </div>

      <h4>Responses</h4>
      <% operation.responses.each do |resp| %>
        <div>
          <b><%= resp.status %></b> - <%= resp.description %>
          <% if resp.schema %>
            <% if Machine.api.definition(resp.schema) %>
              <ul>
                <% Machine.api.definition(resp.schema).properties.map { |prop| Machine::Property.new(*prop) }.each do |prop| %>
                  <li>
                    <b><%= prop.name %></b> -
                    <i>
                      <% if prop.cardinality == :collection %>array[<% end %>
                      <% if prop.ref %>
                        <%= link_to prop.ref.name, anchor: normalize_type_name(prop.ref.name) %>
                      <% else %>
                        <%= prop.type %>
                      <% end %>
                      <% if prop.cardinality == :collection %>]<% end %>
                    </i>
                    <% unless prop.description.nil? %>
                      <p><%= prop.description %></p>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<h2>Definitions</h2>
<% Machine.api.definitions.instance_variable_get("@definitions").each do |k, definition| %>
  <h3 id="<%= normalize_type_name(k) %>"><%= k %> </h3>
  <ul>
    <% definition.properties.each do |prop| %>
      <li>
        <b><%= prop[0] %></b> - <i><%= handle_type(prop[1]) %></i>
        <%= prop[1]["description"] %>
      </li>
    <% end %>
  </ul>
<% end %>
